@import "tailwindcss";

@import "tailwindcss";

@theme {
  /* Colores personalizados */
  --color-venom-green: #96ed11;
  --color-venom-dark: #0a0a0a;
  --color-venom-gray: #1a1a1a;

  /* Fuentes personalizadas */
  --font-sans: Inter, sans-serif;
  --font-display: Orbitron, sans-serif;

  /* Box shadows personalizados */
  --shadow-glow: 0 0 20px rgba(150, 237, 17, 0.5);
}

/* Resto de tus estilos globales */
@layer base {
  body {
    @apply bg-venom-dark text-white;
  }
}

@layer utilities {
  .bg-venom-radial {
    background: radial-gradient(
      ellipse at top,
      rgba(13, 84, 43, 0.1) 0%,
      #0a0a0a 50%,
      #0a0a0a 100%
    );
  }
  .bg-venom-radial-corner {
    background: radial-gradient(
      circle at top right,
      #111827 0%,
      #0a0a0a 40%,
      #0a0a0a 100%
    );
  }
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-venom-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-venom-green);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-venom-green);
}